.btn {
  margin-right: 10px;
}

#dropdown-override {
  min-width: 25rem;
} 

#forum {
  width: 60%;
  margin: auto;
  margin-top: 70px;
}

#post-question {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

#question-body {
  box-sizing: border-box;
  resize: none;
}

#notificationsDropdown {
  display: none;
}
