.btn {
  margin-right: 10px;
}

#forum {
  width: 60%;
  margin: auto;
  margin-top: 70px;
}

#question {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

#post-question {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

#question-body {
  box-sizing: border-box;
  resize: none;
}
