.btn {
  margin-right: 10px;
}

#dropdown-override {
  min-width: 25rem;
} 

#forum-title {
  margin: auto;
  margin-top: 70px;
  width: 60%;
}

#content-container,
#forum {
  margin: auto;
  width: 60%;
}

#post-answer {
  display: none;
  margin-top: 100px;
}

#answers,
#question {
  margin-top: 100px;
}

#answer-body,
.comment-body,
#question-body {
  box-sizing: border-box;
  resize: none;
}

#post-question {
  display: none;
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

#notifications-dropdown {
  display: none;
}

.nav-pills a {
  color: #6cb4b8ff;
  font-size: xx-large;
}

.nav-pills .nav-link.active {
  background-color: #6cb4b8ff!important;
}

.page-small-text {
  font-weight: 400;
  font-size: 1.5em;
  color: #000000;
}

.page-subtitle {
  font-weight: 200;
}

.page-title {
  font-weight: 200;
  text-transform: uppercase;
}

.page-title .name {
  color: #6cb4b8ff;
  font-weight: 400;
}

.text-mint {
  color: #6cb4b8ff;
}
